body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

/* Logout icon and link */
a.logout-link {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #888888;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Adjust the margin-right property for the button to move it closer */
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Added margin-right to space the button */
}

/* Adjust the margin-left property for the button to move it closer */
button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: -220px; /* Added margin-left to space the text input */
}

button:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;}
    img {
position: absolute;

height: 50px; 
margin-right: 1rem; 
.custom-logo {
height: 30px; 
width: auto; 
position: absolute; 


}
}
